body {
    height: 200vh;
    font-size: 1rem;
    padding-top: 90px;
}
:root {
    --swiper-theme-color: white;
}
h1 {
    font-size: 3rem;
}
h4 {
    font-size: 1.2rem;
}
.navbar {
    transition: all 0.2s ease;
}
.nav-lighter {
    background: rgba(26, 26, 26, 0.9) !important;
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: auto;
    overflow: hidden;
}

.hover {
    background: rgba(26, 26, 26, 0.6);
}
