body {
    height: 200vh;
    font-size: 1rem;
    padding-top: 90px;
}
:root {
    --swiper-theme-color: white;
}
h1 {
    font-size: 3rem;
}
h4 {
    font-size: 1.2rem;
}
textarea {
    height: 100px !important;
    resize: none !important;
}
.navbar {
    transition: all 0.2s ease;
}
.nav-lighter {
    background: rgba(26, 26, 26, 0.9) !important;
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: auto;
    overflow: hidden;
}

.hover {
    background: rgba(26, 26, 26, 0.6);
}

.top-of-resume,
.bottom-of-resume {
    padding: 40px;
}

#resume {
    z-index: -5;
}

.custom-circle {
    position: absolute;
    width: 800px;
    height: 800px;
    background: rgba(75, 191, 115, 0.2);
    top: -30%;
    right: -10%;
    border-radius: 50%;
    z-index: -1;
}

.custom-circle-2 {
    position: absolute;
    width: 500px;
    height: 500px;
    background: rgba(75, 191, 115, 0.1);
    border-radius: 50%;
    top: 50%;
    right: 25%;
}

.custom-circle-3 {
    position: absolute;
    width: 250px;
    height: 250px;
    background: rgba(75, 191, 115, 0.1);
    border-radius: 50%;
    top: 90%;
    right: 53%;
}
